/* line 4, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 6, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%; }

/* line 16, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 18, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 45, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/* line 20, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 22, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 12, ./src/stylesheets/partials/_mixins.sass */
.arrow {
  height: 26px;
  background: transparent url(/images/arrowbox_bottom.png) bottom no-repeat; }

/* line 18, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form label {
  font-weight: bold; }
/* line 19, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 26, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px; }
/* line 27, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form input.title {
  font-size: 1.5em; }
/* line 31, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em; }
/* line 33, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 34, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form select {
  margin: 0.5em 0; }
/* line 59, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc; }
/* line 62, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb; }
  /* line 64, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
  form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
  form textarea:focus, form select:focus {
    border: 1px solid #666666; }
/* line 48, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px; }
/* line 50, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px; }
/* line 9, ./src/stylesheets/partials/_form.sass */
form label {
  display: block;
  width: 360px;
  border-bottom: 1px solid #f7e9b0;
  padding: 0 0 5px 5px; }
  /* line 14, ./src/stylesheets/partials/_form.sass */
  form label .star {
    display: inline-block;
    background: url(/images/star.gif) center center no-repeat;
    width: 15px;
    height: 9px; }
/* line 20, ./src/stylesheets/partials/_form.sass */
form input[type=image] {
  display: block;
  margin: 0 auto;
  padding: 10px; }
/* line 25, ./src/stylesheets/partials/_form.sass */
form input[type=text] {
  z-index: 2;
  padding: 5px;
  width: 348px;
  margin-top: 0;
  border-width: 1px;
  border-color: #f7e9b0;
  border-top-color: #d7dcd5;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  /* line 33, ./src/stylesheets/partials/_form.sass */
  form input[type=text]:focus {
    border-color: #caccad; }
  /* line 35, ./src/stylesheets/partials/_form.sass */
  form input[type=text].error {
    border-color: #aa0000; }
/* line 42, ./src/stylesheets/partials/_form.sass */
form .field {
  width: 360px;
  margin: 5px auto; }

/* line 21, ./src/stylesheets/partials/_typography.sass */
body {
  font-family: "Droid Sans", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1em; }

/* line 24, ./src/stylesheets/partials/_typography.sass */
h2 {
  font-family: "Impact", serif;
  font-size: 24px;
  color: #633a0d;
  line-height: 1em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  text-align: center; }

/* line 33, ./src/stylesheets/partials/_typography.sass */
a {
  text-decoration: none; }

/* line 1, ./src/stylesheets/partials/_application.sass */
body {
  background: #fdffe0 url(/images/bg.jpg) repeat-x; }

/* line 5, ./src/stylesheets/partials/_application.sass */
html a.logo, * html a.logo, *:first-child + html a.logo {
  text-indent: 0;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px; }

/* line 11, ./src/stylesheets/partials/_application.sass */
a:active, a:focus, input[type=image] {
  outline-style: none; }

/* line 14, ./src/stylesheets/partials/_application.sass */
.highlight {
  color: #aa0000;
  font-weight: bold; }

/* line 18, ./src/stylesheets/partials/_application.sass */
#thanks {
  position: relative;
  font-size: 24px;
  z-index: 10; }
  /* line 22, ./src/stylesheets/partials/_application.sass */
  #thanks h2 {
    text-align: left;
    text-transform: none;
    font-size: 42px;
    padding: 58px 0 0 129px;
    margin-bottom: 14px; }
  /* line 28, ./src/stylesheets/partials/_application.sass */
  #thanks p {
    text-align: center;
    line-height: 28px;
    padding: 0 80px 0 50px;
    margin-bottom: 1em; }
  /* line 33, ./src/stylesheets/partials/_application.sass */
  #thanks .inner {
    position: absolute;
    left: -22px;
    top: -20px;
    background: transparent url(/images/box_alert_msg.png) no-repeat;
    height: 482px;
    width: 489px; }
    /* line 40, ./src/stylesheets/partials/_application.sass */
    #thanks .inner a {
      margin: 0 auto;
      color: #633a0d; }
      /* line 43, ./src/stylesheets/partials/_application.sass */
      #thanks .inner a .icon {
        background: url(/images/icons_close.png) no-repeat;
        display: inline-block;
        width: 25px;
        height: 26px;
        text-indent: -999em;
        top: 5px;
        position: relative;
        margin-right: 5px; }
    /* line 53, ./src/stylesheets/partials/_application.sass */
    #thanks .inner a:hover {
      color: #aa5652; }
    /* line 55, ./src/stylesheets/partials/_application.sass */
    #thanks .inner a .icon {
      background-position: left 0; }
    /* line 57, ./src/stylesheets/partials/_application.sass */
    #thanks .inner a:hover .icon {
      background-position: left -27px; }

/* line 60, ./src/stylesheets/partials/_application.sass */
#errorsContainer {
  position: relative; }
  /* line 62, ./src/stylesheets/partials/_application.sass */
  #errorsContainer #errors {
    position: absolute;
    left: -22px;
    top: -20px;
    z-index: 10;
    background: transparent url(/images/box_error_msg.png) no-repeat;
    text-align: center;
    padding: 5px;
    padding-top: 39px;
    color: #aa0000;
    height: 140px;
    width: 461px;
    line-height: 24px; }
    /* line 67, ./src/stylesheets/partials/_application.sass */
    #errorsContainer #errors h2 {
      color: #aa0000;
      margin-bottom: 4px; }

/* line 82, ./src/stylesheets/partials/_application.sass */
#header {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  height: 341px;
  overflow: visible; }
  /* line 87, ./src/stylesheets/partials/_application.sass */
  #header #welcome {
    height: 156px; }
    /* line 89, ./src/stylesheets/partials/_application.sass */
    #header #welcome img {
      position: relative;
      top: -4px; }
  /* line 93, ./src/stylesheets/partials/_application.sass */
  #header #title {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 415px;
    height: 185px;
    overflow: visible; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #header #title {
      overflow-x: hidden; }
    /* line 97, ./src/stylesheets/partials/_application.sass */
    #header #title h1 {
      z-index: 1;
      position: relative;
      top: -40px;
      left: -3px;
      background: transparent url(/images/logo_ticket.png) no-repeat;
      text-indent: -999em;
      height: 280px;
      width: 438px; }
  /* line 106, ./src/stylesheets/partials/_application.sass */
  #header #intro {
    display: inline;
    float: left;
    margin-right: 0;
    width: 565px;
    text-align: left;
    color: #772411; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #header #intro {
      overflow-x: hidden; }
    /* line 110, ./src/stylesheets/partials/_application.sass */
    #header #intro > div {
      font-size: 18px;
      line-height: 25px;
      padding: 15px 0 0 15px; }
      /* line 111, ./src/stylesheets/partials/_application.sass */
      #header #intro > div .headline {
        font-weight: bold;
        font-size: 20px; }

/* line 119, ./src/stylesheets/partials/_application.sass */
#filofax {
  background: transparent url(/images/filofax.png) no-repeat top center;
  width: 100%;
  height: 786px;
  position: absolute;
  top: 341px;
  z-index: -1;
  margin-left: -11px; }

/* line 128, ./src/stylesheets/partials/_application.sass */
#content {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }
  /* line 130, ./src/stylesheets/partials/_application.sass */
  #content #left {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 325px;
    text-align: center;
    overflow: visible; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #content #left {
      overflow-x: hidden; }
    /* line 134, ./src/stylesheets/partials/_application.sass */
    #content #left #news {
      margin-top: 40px; }
    /* line 136, ./src/stylesheets/partials/_application.sass */
    #content #left #twitter {
      width: 300px;
      margin: 10px auto; }
    /* line 139, ./src/stylesheets/partials/_application.sass */
    #content #left #contact {
      width: 326px;
      position: relative;
      top: -10px;
      padding-top: 26px;
      background: transparent url(/images/box_mail_top.png) top left no-repeat; }
      /* line 145, ./src/stylesheets/partials/_application.sass */
      #content #left #contact #bottom {
        background: transparent url(/images/box_mail_bottom.png) bottom left no-repeat;
        height: 23px; }
      /* line 148, ./src/stylesheets/partials/_application.sass */
      #content #left #contact #middle {
        height: 35px;
        background: transparent url(/images/box_mail_slice.png) left repeat-y; }
      /* line 151, ./src/stylesheets/partials/_application.sass */
      #content #left #contact a {
        color: #aa0000;
        font-weight: bold; }
        /* line 154, ./src/stylesheets/partials/_application.sass */
        #content #left #contact a .icon {
          background: url(/images/icons_mail.png) no-repeat;
          display: inline-block;
          width: 21px;
          height: 15px;
          text-indent: -999em;
          position: relative;
          margin-left: 2px;
          top: 3px; }
      /* line 163, ./src/stylesheets/partials/_application.sass */
      #content #left #contact a:hover {
        color: #633a0d; }
      /* line 165, ./src/stylesheets/partials/_application.sass */
      #content #left #contact a .icon {
        background-position: left -16px; }
      /* line 167, ./src/stylesheets/partials/_application.sass */
      #content #left #contact a:hover .icon {
        background-position: left 0; }
  /* line 169, ./src/stylesheets/partials/_application.sass */
  #content #main {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 415px;
    position: relative; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #content #main {
      overflow-x: hidden; }
    /* line 171, ./src/stylesheets/partials/_application.sass */
    #content #main h2 {
      color: #772411;
      margin-bottom: 10px; }
    /* line 176, ./src/stylesheets/partials/_application.sass */
    #content #main .box-text {
      border: 1px solid #ffe080;
      background-color: #fff7c2;
      border-bottom: none;
      padding: 13px 18px;
      line-height: 18px; }
  /* line 179, ./src/stylesheets/partials/_application.sass */
  #content #right {
    display: inline;
    float: left;
    margin-right: 5px;
    width: 235px;
    text-align: center; }
    /* line 139, /home/travis/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #content #right {
      overflow-x: hidden; }
    /* line 181, ./src/stylesheets/partials/_application.sass */
    #content #right h2 {
      color: #772411; }
    /* line 184, ./src/stylesheets/partials/_application.sass */
    #content #right #social {
      margin-top: 40px; }
      /* line 186, ./src/stylesheets/partials/_application.sass */
      #content #right #social > * {
        margin: 0 auto;
        padding-bottom: 30px; }
      /* line 189, ./src/stylesheets/partials/_application.sass */
      #content #right #social > h2 {
        width: 135px; }
      /* line 191, ./src/stylesheets/partials/_application.sass */
      #content #right #social > div {
        width: 131px; }
      /* line 193, ./src/stylesheets/partials/_application.sass */
      #content #right #social a {
        text-indent: -999em;
        display: inline-block;
        vertical-align: baseline;
        width: 131px;
        height: 131px; }
        /* line 199, ./src/stylesheets/partials/_application.sass */
        #content #right #social a.facebook {
          background: transparent url(/images/btns_fb.png) no-repeat left -132px; }
        /* line 201, ./src/stylesheets/partials/_application.sass */
        #content #right #social a.twitter {
          background: transparent url(/images/btns_twitter.png) no-repeat left -132px; }
      /* line 203, ./src/stylesheets/partials/_application.sass */
      #content #right #social a:hover {
        background-position: left 0; }
    /* line 205, ./src/stylesheets/partials/_application.sass */
    #content #right #e9 {
      padding-top: 23px;
      font-family: "Droid Sans", serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      text-shadow: none;
      text-decoration: none;
      text-transform: none;
      letter-spacing: 0em;
      word-spacing: 0em;
      line-height: 1em;
      font-size: 12px; }
      /* line 208, ./src/stylesheets/partials/_application.sass */
      #content #right #e9 .logo {
        background: url(/images/icons_e9.png) no-repeat;
        display: inline-block;
        width: 33px;
        height: 21px;
        text-indent: -999em;
        vertical-align: middle;
        position: relative;
        margin-left: 2px;
        top: 3px; }
      /* line 218, ./src/stylesheets/partials/_application.sass */
      #content #right #e9 a {
        color: #aa5652; }
      /* line 220, ./src/stylesheets/partials/_application.sass */
      #content #right #e9 a .logo {
        background-position: left -22px; }
      /* line 222, ./src/stylesheets/partials/_application.sass */
      #content #right #e9 a:hover {
        color: #633a0d; }
      /* line 224, ./src/stylesheets/partials/_application.sass */
      #content #right #e9 a:hover .logo {
        background-position: left 0; }
